.menu-area {
    /*background: #563d7c;*/
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 15px;
    font-family: 'Roboto',sans-serif;
    display: block !important;
}

.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav > .show > a, .navbar-default .navbar-nav > .show > a:focus, .navbar-default .navbar-nav > .show > a:hover {
    color: #fff;
    background: utline: 0;
}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    background: #222;
}

.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    background: #007bff;
}

.mainmenu .collapse ul ul ul > li:hover > a {
    background: #007bff;
}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
    background: #222;
}

    .mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu {
        background: #222;
    }

        .mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu {
            background: #222;
        }

/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover > ul {
        display: block
    }

    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }
        /*******/
        .mainmenu .collapse ul ul li {
            position: relative
        }

            .mainmenu .collapse ul ul li:hover > ul {
                display: block
            }

        .mainmenu .collapse ul ul ul {
            position: absolute;
            top: 0;
            left: 100%;
            min-width: 250px;
            display: none
        }
            /*******/
            .mainmenu .collapse ul ul ul li {
                position: relative
            }

                .mainmenu .collapse ul ul ul li:hover ul {
                    display: block
                }

            .mainmenu .collapse ul ul ul ul {
                position: absolute;
                top: 0;
                left: -100%;
                min-width: 250px;
                display: none;
                z-index: 1
            }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        /*padding: 16px 15px 16px 35px;*/
        padding-left: 2.5rem;
    }

    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        /*padding: 16px 15px 16px 45px;*/
        padding-left: 3.5rem;
    }
}







/*@media all and (min-width:992px)*/
.left-menu .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

/*@media only screen and (min-width:767px)*/
.left-menu .mainmenu .collapse ul ul {
    top: 0px;
    left: 50%;
}

.left-menu.menu-area {
    width: 15rem;
}

/*@media only screen and (min-width:767px)*/
.left-menu .mainmenu .collapse ul ul ul ul {
    left: 50%;
}


.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.25rem;
}


.top-menu {
    height: 2.8rem;
}

    .top-menu .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .top-menu .btn:hover {
        background: #222;
    }

    .top-menu .navbar-nav li {
        line-height: 2.6;
    }

.left-menu {
    height: 2.8rem;
}

    .left-menu .btn:hover {
        background: #222;
    }

    .left-menu .navbar-nav li {
        line-height: 2.6;
    }



.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.left-nav :not(.show).collapse {
    display: block;
}

.hide {
    display: none;
}

.top-menu ul li a,
.left-menu ul li a {
    text-decoration: none;
}

.dropdown-menu {
    border: 1px solid #444;
    border-radius: 0.25rem;
}



/*.dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

    .navbar-nav .dropdown-menu.show {
        max-height: 500px;
    }*/















