<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRelationalService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dssdev01.dsspreprod.com/RelationalInternal2/RelationalService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelationalService" contract="RelationalProxy.IRelationalService" name="BasicHttpBinding_IRelationalService"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="RelationalService" value="https://dssdev01.dsspreprod.com/RelationalInternal2/RelationalService.svc"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
