<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <!--
	This is to redirect the Oracle reference for the x86 processes.
	Oracle is unable to find the correct version out of the GAC without qualifying what
	version of the driver it is looking for.
	-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="Oracle.DataAccess"
             fullName="Oracle.DataAccess,
                           Version=2.102.5.0,
                           Culture=neutral,
                           PublicKeyToken=89b483f429c47342" />
    </assemblyBinding>
  </runtime>
</configuration>
