<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRelationalService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://rryvkin10l/RelationalInternal2/RelationalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelationalService"
                contract="RelationalProxy.IRelationalService" name="BasicHttpBinding_IRelationalService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
